body{
    background-color: darkgrey;
    p{
        color: blue; font-family:Arial; size: 16pt;
    }
    h1, h2, h3{
        text-align: center;
        color: blueviolet;
        font-family:cursive;
    }
    table{
        width: 600px;
        border: 1px solid black;
    }
    .pnk1{
        color: red; font-family: 'Times New Roman', Times, serif; font-size:18pt;
    }
    .pnk2{
        color:yellow; font-family: 'Times New Roman', Times, serif; font-size:20pt;
    }
    .pnk3{
        color: green; font-family: 'Times New Roman', Times, serif; font-size: 22pt;
    }
}
table{
    tr, td{
        border: 1px solid black;
    }
}